@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500&display=swap');

body {
  font-family:'Gothic A1', sans-serif;
}
/* ------------------------------------- */
details {
  width: 100%;
  font-weight: bold;
  padding-top: 1vh;
}

details > summary {
  padding: 2px 6px;
  background-color: rgb(255, 254, 254);
  border: none;
  box-shadow: 3px 3px 4px #000000;
  cursor: pointer;
  height: 7vh;
}

details > p {
  padding: 2px 6px;
  box-shadow: 1px 1px 1px rgb(0, 0, 0);
}
details div {
  width: 50%;
  height: 10vh;
}
details img {
  width: 100%;
  height: 100%;
}
/* llllllllllllllllllllllllll */
details[open] {

  
}

details[open] summary {
  
  
}

section {
  margin: 5px 0;
  background-color:inherit;

}