.wrapper {
  background-color: rgb(255, 255, 255);
  max-width: 960px;
  margin: 0 auto;
}
nav ul {
  /* background-color: bisque; */
  list-style-type: none;
  padding: 0%;
}
nav ul li a {
  text-decoration: none;
  color:rgb(0, 0, 0);
  display: block;
  padding: 10px;
  border: 1px solid red;
}
@media screen and (min-width:100px) {
  nav ul  {
    text-align: center;
      display:flex;
      justify-content: center;
  }
  nav li  {
    flex:  1 1 0;
  }
}